* {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.h-logo {
    height: auto;
    width: 100%;
    padding-top: 4dvh;
}
.h-logo h2 {
    color: white;
    height: auto;
    width: auto;
    text-align: center;
    font-size: clamp(16px, 2.5dvh, 24px);
}

.btn-primary,
.btn-secondary {
    width: 60%;
    height: auto;
    padding: 1.5dvh 0;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: clamp(20px, 2.65dvh, 25px);
}
.btn-primary {
    background-color: #1b00b9;
}

.btn-secondary {
    background-color: #1b1866;
}